<!DOCTYPE html>
<html>
<header>
 <title>Create a Figure</title>
 <style>
div {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
   
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</header>

<body>
 <article>
   <h3>Create a New Landmark:</h3>
   <form action="/landmarks" method="POST">
    
    <h3>Create a New Landmark:</h3>
    <label for="landmark_name">Landmark Name:</label>
    <input type="text" name="landmark[name]" id="landmark_name">
    <label for="landmark_year_completed">Year Completed:</label>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
    
    <br><br>
    
    <input type="submit" value="Create New Landmark">
   </form>
  
</article>
</body>
</html>