<!DOCTYPE html>
<html>
<header>
 <title>Figures</title>
 <style>
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
   
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</header>

<body>
 <article>
  <h1>Figures</h1>
  <%@figures.all.each do |figure|%>
  <ul>
   <li>
    <h2><a href="/figures/<%=figure.id%>"><%=figure.name%></a></h2>
   </li>
  </ul>
  <%end%>
  
  <br><br>
  <form action="/figures/new">
   <input type="submit" value="Create New Figure">
  </form>
  
</article>
</body>
</html>
