<!DOCTYPE html>
<html>
<header>
 <title>Historical Figures and their Landmarks</title>
 <style>
div {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: top-center;
    max-width: 160px;
    margin: 20;
    padding: 5em;
}
   
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</header>

<body>
 
 <nav>
    <a href="/figures">Figures</a>
    <a href="/landmarks">Landmarks</a>
</nav>

 <article>
  <h1>Historical Figures and their Landmarks</h1>
  <h4><a href="https://en.wikipedia.org/wiki/Historical_figure">Excerpt from Wikipedia</a></h4>
  <p>LA historical figure is a famous person in history, such as Catherine the Great, Abraham Lincoln, Washington, or Napoleon.The significance of such figures in human progress has been debated. Some think they play a crucial role, while others say they have little impact on the broad currents of thought and social change. The concept is generally used in the sense that the person really existed in the past, as opposed to being legendary. However, the legends that can grow up around historical figures may be hard to distinguish from fact. Sources are often incomplete and may be inaccurate, particularly those from early periods of history. Without a body of personal documents, the more subtle aspects of personality of a historical figure can only be deduced. With historical figures who were also religious figures attempts to separate fact from belief may be controversial.

In education, presenting information as if it were being told by a historical figure may give it greater impact. Since classical times, students have been asked to put themselves in the place of a historical figure as a way of bringing history to life. Historical figures are often represented in fiction, where fact and fancy are combined. In earlier traditions, before the rise of a critical historical tradition, authors took less care to be as accurate when describing what they knew of historical figures and their actions, interpolating imaginary elements intended to serve a moral purpose to events: such is the Monk of St. Gall's anecdotal account of Charlemagne, De Carolo Magno. More recently there has been a tendency once again for authors to freely depart from the "facts" when they conflict with their creative goals.</p>

</article>
</body>
</html>

